.boxshadow {
    -webkit-box-shadow: 17px 18px 52px -9px rgba(43,111,184,1);
-moz-box-shadow: 17px 18px 52px -9px rgba(43,111,184,1);
box-shadow: 17px 18px 52px -9px rgba(43,111,184,1);
}

.hidden {
    display: none;
}



img {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    padding: 20px;
}






@media(min-width: 800px) {

section {
    display: flex;
    flex-direction: row;
}

article {
    padding: 20px;
}

}
